.editor {
	border: 1px solid black;
	margin: auto;
	height: 200px;
	width: 80%;
}
.toolbar {
	border: 1px solid black;
	width: 80%;
	height: 20px;
	background: black;
	margin: auto;
}
#header {
	font-size: xx-large;
	width: 80%;
	margin: auto;
	font-family: Arial;
}
#blurb {
	padding-top: 0px;
	width: 80%;
	margin: auto;
	font-family: Arial;
}
#task {
	font-weight: bold;
	width: 80%;
	margin: auto;
	font-family: Arial;
}
#nextLevel {
	padding-bottom: 10px;
	width: 80%;
	margin: auto;
	font-family: Arial;
}
